<div layout="column">
    <div layout="row" layout-sm="column" style="margin-top: 160px;" flex="100" ng-if="!isInventarisOpen">
          <md-progress-circular flex md-mode="indeterminate"></md-progress-circular>
    </div>

    <div ng-if="isInventarisOpen && listInventori[0] == null">
      Tidak ada data inventaris
    </div>

    <div ng-if="listInventori[0] != null && isInventarisOpen" layout="column"  class="chipsdemoContactChips tesss" >
           <md-input-container md-no-float class="md-block">
            <input ng-model="search" placeholder="Search">
          </md-input-container>
      
             <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width:100%;">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">No</th>
              <th class="mdl-data-table__cell--non-numeric">Tanggal pengadaan</th>
              <th class="mdl-data-table__cell--non-numeric">Fungsi</th>
              <th class="mdl-data-table__cell--non-numeric">Jenis</th>
              <th class="mdl-data-table__cell--non-numeric">Jumlah</th>
             
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lista in listInventori | filter:search" ng-click="opendetailprice($event,lista)" class="clickable">
              <td class="mdl-data-table__cell--non-numeric">{{$index+1}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{getDatebyTimeStamp(lista.time)}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{getFunctionById(getJenisById(lista.id_jenis).id_fungsi)}}</td>
               <td class="mdl-data-table__cell--non-numeric">{{getJenisById(lista.id_jenis).namaJenis}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{lista.jumlah}}</td>
            </tr>

            </tbody>
            </table>


    </div>

    <md-button class="md-primary md-fab md-fab-bottom-right" style="position:fixed;bottom:15px;right:15px;" ng-click="openAddnewPrice($event)">
            <md-tooltip md-direction="top">
              tambah inventori
            </md-tooltip>
            <md-icon class="material-icons white" aria-label="Close dialog" style="position: absolute;top: 16px;right: 16px;">add</md-icon>
    </md-button>
</div>