<md-dialog aria-label="new member">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Permintaan baru</h2>
        <span flex></span>

        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column" style="max-width:700px;max-height:810px;width:500px;">
        <md-content class="md-no-momentum" layout-padding >

              <div layout="row" layout-xs="column" >
              
                <div flex="80">
                      
                        <md-autocomplete
                          ng-disabled="isDisabled"
                          md-no-cache="isNoCache"
                          md-selected-item="selectedJenisItem"
                          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                          md-search-text="searchTextJenis"
                          md-selected-item-change="onItemSelectedJenis(item)"
                          md-items="item in listJenisLogistik | filter:searchTextJenis"
                          md-item-text="item.namaJenis"
                          md-min-length="0"
                          placeholder="Masukkan jenis logistik">
                        <md-item-template>
                          <span md-highlight-text="searchTextJenis" md-highlight-flags="^i">{{item.namaJenis}}</span>
                        </md-item-template>
                        <md-not-found>
                          "{{searchTextJenis}}" tidak ditemukan.
                        </md-not-found>
                      </md-autocomplete>

                </div>
                 <div flex="20">
                      <md-input-container style="margin-top: 9px;">
                        <label>Jumlah</label>
                        <input name="email" ng-model="jumlah"  type="number" >
                      </md-input-container>

                </div>
            </div>

            <div layout="row" layout-xs="column" >
              <div flex="30">
                 <md-checkbox aria-label="Darurat"
                         ng-checked="isChecked()"
                         ng-click="darurat = !darurat">
              Darurat
            </md-checkbox>
              </div>
              <div flex="70">
                  <md-input-container class="md-block" style="margin-top: -9px;">
              <label>Catatan</label>
              <textarea ng-model="catatan" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>
              </div>
            </div>

          
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="cancel()" >
      Batal
    </md-button>
    <md-button ng-click="sendRequest()" style="margin-right:20px;" >
      Kirim
    </md-button>
  </md-dialog-actions>
  </form>
</md-dialog>