<md-dialog aria-label="Detail Price">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Detail item</h2>
        <span flex></span>
         <md-button class="md-icon-button" ng-click="openEditPrice($event)">
          <md-tooltip md-direction="left">
          edit item
        </md-tooltip>
          <md-icon class="material-icons" aria-label="Update Name dialog">edit</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="cancel()">
        	<md-tooltip md-direction="bottom">
          close
        </md-tooltip>
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column" style="max-width:500px;max-height:810px;width:400px;">
      <md-content>
      <md-list layout-padding>
       	     <md-list-item class="md-2-line" >
	          <md-icon class="material-icons">label</md-icon>
	     
	          <div class="md-list-item-text">
	            <h3>{{item.itemname}}</h3>
	            <p>item name</p>
	          </div>
	
	        </md-list-item>

	         <md-list-item class="md-2-line" >
	          <md-icon class="material-icons"></md-icon>
	     
	          <div class="md-list-item-text">
	            <h3>RM {{item.singleprice}}</h3>
	            <p>quantity price</p>
	          </div>
	
	        </md-list-item>

	                 <md-list-item class="md-2-line" >
	          <md-icon class="material-icons"></md-icon>
	     
	          <div class="md-list-item-text">
	            <h3>RM {{item.serviceprice}}</h3>
	            <p>service price</p>
	          </div>
	
	        </md-list-item>

	  
	        <md-divider></md-divider>
		         <md-list-item class="md-1-line" >
		          <md-icon class="material-icons"></md-icon>
		          <div class="md-list-item-text">
		            <a class="clickable" ng-click="deleteitem()">Delete item</a>
		          </div>
		        </md-list-item>
       </md-list>
       </md-content>
   
      	 
    </md-dialog-content>
    
  </form>
</md-dialog>