<md-dialog aria-label="Profile">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Detail Kotama</h2>
        <span flex></span>
        
        <md-button class="md-icon-button" ng-click="cancel()">
        	<md-tooltip md-direction="bottom">
          close
        </md-tooltip>
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column" style="max-width:700px;max-height:810px;width:500px;">
    

      <md-list style="padding:0;">
		 <md-list-item class="md-2-line" id="c1" >
          <img ng-src="{{detailKotama.image}}" class="md-avatar" id="c2" style="width:70px;height:70px;"  />
          <div class="md-list-item-text" layout="column">
            <h3 style="color:rgb(255,255,255);">{{detailKotama.ur_ktm}}</h3>
            <h4 style="color:rgb(255,255,255);">{{detailKotama.$id}}</h4>
          </div>
        </md-list-item>
    	
      </md-list>
     <input id="fileInput" class="ng-hide" type="file" accept="image/*" file-changed ng-model="newimage" file-preview="newimage" ng-change="uploadimage(newimage)">


  	  <md-button ng-click="upload()" class="md-primary md-fab md-fab-top-right" style="top:116px;background-color:rgb(255,255,255);color:#009688">
  	      <md-tooltip md-direction="bottom">
          upload image
        </md-tooltip>
           <md-icon class="material-icons" aria-label="Close dialog" style="color:#009688">photo_camera</md-icon>
      </md-button>
      <md-content>


		     <md-tabs md-dynamic-height md-border-bottom>
		     	 <md-tab label="info">
						        <md-content class="md-padding">
						         	 <md-list layout-padding>
			       	     <md-list-item class="md-2-line" >
				          <md-icon class="material-icons">email</md-icon>
				     
				          <div class="md-list-item-text">
				            <h3>{{detailKotama.email}}</h3>
				            <p>email</p>
				          </div>
				
				        </md-list-item>
				     

				        <md-divider></md-divider>
				          <md-list-item class="md-1-line" >
				          <md-icon class="material-icons"></md-icon>
				     
				          <div class="md-list-item-text">
				            <a class="clickable" ng-click="deleteImage()">Hapus gambar</a>
				          </div>
				
				        </md-list-item>

				         <md-list-item class="md-1-line" >
				          <md-icon class="material-icons"></md-icon>
				     
				          <div class="md-list-item-text">
				            <a class="clickable" ng-click="openupdateEmail($event)">Ubah email</a>
				          </div>
				
				        </md-list-item>

				        
				        <md-list-item class="md-1-line" >
				          <md-icon class="material-icons"></md-icon>
				     
				          <div class="md-list-item-text">
				            <a class="clickable" ng-click="openupdatepassword($event)">Ubah kata sandi</a>
				          </div>
				
				        </md-list-item>

				        <md-list-item class="md-1-line" >
				          <md-icon class="material-icons"></md-icon>
				     
				          <div class="md-list-item-text">
				            <a class="clickable" ng-click="resetPassword($event)">Reset kata sandi</a>
				          </div>
				
				        </md-list-item>

				           <md-list-item class="md-1-line" >
				          <md-icon class="material-icons"></md-icon>
				     
				          <div class="md-list-item-text">
				            <a class="clickable" ng-click="deleteAccount($event)">Hapus {{detailKotama.ur_ktm}}</a>
				          </div>
				
				        </md-list-item>

			       </md-list>
						        </md-content>
			      </md-tab>

			      <md-tab label="data">

			      </md-tab>

		     </md-tabs>  

     
       </md-content>
   
      	 
    </md-dialog-content>
    
  </form>
</md-dialog>